<!DOCTYPE HTML>
<html ng-app="app">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ididit</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/app.css">
    <script>
        document.write('<base href="' + document.location + '" />');
    </script>
    {% block head %}{% endblock %}
</head>
<body>

    {% include "_nav.html" %}

    {% block content %}{% endblock %}

    <script src="//d3nslu0hdya83q.cloudfront.net/dist/1.0/raven.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <script src="{{ STATIC_URL }}js/angular-route.min.js"></script>
    <script src="{{ STATIC_URL }}js/angular-cookies.min.js"></script>
    <script src="{{ STATIC_URL }}js/angular-django-rest-resource.js"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
